<!-- Default form login -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="login()">
                <p class="lead mb-4">Sign in</p>
                <small>*Please provide valid email and password</small>

                <div *ngIf="notifyMessage" class="alert alert-success">
                    {{ notifyMessage }}
                </div>
                <!-- Email -->
                <div class="col">
                    <mat-form-field>
                        <input matInput formControlName="email" type="email" id="defaultLoginFormEmail" class=""
                            placeholder="E-mail">
                    </mat-form-field>
                </div>
                <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
                    <div *ngIf="isRequired('email')">Email is required.</div>
                    <div *ngIf="isPattern('email')">Must be valid email format!</div>
                </div>
                <!-- Password -->
                <div class="col">
                    <mat-form-field>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" id="defaultLoginFormPassword"
                            class="" placeholder="Password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>

                <!-- Sign in button -->
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-dark">SIGN IN</button>

                <!-- Register -->
                <p>Don't have an account?
                    <a routerLink='/register'>Register</a>
                </p>

                <!-- Social login -->
                <p>or sign in with:</p>
                <div class="socialIcons">
                    <!--Facebook Login-->
                    <a routerLink="">
                        <i class="devicon-facebook-plain colored"></i>
                    </a>
                    <!--Twitter Login-->
                    <a routerLink="">
                        <i class="devicon-twitter-plain colored"></i>
                    </a>
                    <!--Google Login-->
                    <a routerLink="" style="color: red">
                        <i class="devicon-google-plain"></i>
                    </a>
                </div>


                <!--Account Forgotten-->
                <div class="d-flex justify-content-around">
                    <div id="forgottenAccount">
                        <!-- Forgot password -->
                        <a href="">Forgot your email?</a>
                        <!-- Forgot password -->
                        <a href="">Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>