<!-- Default form login -->
<div class="container">
  <div class="row">
    <div class="col-md-12" id="signin_header">
      <img src="assets/img/logo.png" />
      <h5>"only by <span>GIVING </span> are you able</h5>
      <h5>to receive <span>MORE </span> than you already have."</h5>
    </div>
    <div class="col-12">
      <form
        class="text-center border border-light p-5"
        (submit)="login(loginForm)"
        #loginForm="ngForm"
        id="signin_form"
      >
        <p class="lead mb-4">Sign in</p>
        <small>*Please provide valid email and password</small>

        <div *ngIf="notifyMessage" class="alert alert-success">
          {{ notifyMessage }}
        </div>
        <!-- Email -->
        <div class="col">
          <mat-form-field>
            <input
              matInput
              name="email"
              type="email"
              id="defaultLoginFormEmail"
              class=""
              placeholder="E-mail"
              #emailInput="ngModel"
              ngModel
              required
              email
            />
            <mat-error *ngIf="emailInput.invalid"
              >Please enter a valid email.</mat-error
            >
            <!-- <input matInput name="email" ngModel type="email" id="defaultLoginFormEmail" class=""
                                placeholder="E-mail" required email> -->
          </mat-form-field>
        </div>
        <!-- <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
                    <div *ngIf="isRequired('email')">Email is required.</div>
                    <div *ngIf="isPattern('email')">Must be valid email format!</div>
                </div> -->
        <!-- Password -->
        <div class="col">
          <mat-form-field>
            <input
              matInput
              name="password"
              [type]="hide ? 'password' : 'text'"
              id="defaultLoginFormPassword"
              class=""
              placeholder="Password"
              #passwordInput="ngModel"
              ngModel
              required
            />
            <!-- <input matInput name="password" ngModel [type]="hide ? 'password' : 'text'"
                                id="defaultLoginFormPassword" class="" placeholder="Password" required> -->
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error *ngIf="passwordInput.invalid"
              >Please enter a valid password.</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Sign in button -->
        <button
          [disabled]="!loginForm.form.valid"
          type="submit"
          class="btn btn-dark"
        >
          SIGN IN
        </button>

        <!-- Register -->
        <p>
          Don't have an account?
          <a routerLink="/register">Register</a>
        </p>

        <!--Account Forgotten-->
        <div class="d-flex justify-content-around">
          <div id="forgottenAccount">
            <!-- Forgot password -->
            <a href="">Forgot your email?</a>
            <!-- Forgot password -->
            <a href="">Forgot your password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
