ul,
li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 10px;
}

i {
  color: #009688;
  margin-right: 20px;
}

p {
  font-size: 20px;
}

.contact-header {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-header h1 {
  padding-bottom: 20px;
  font-size: 60px;
  /* color: black;
  display: flex;
  align-items: center; */
  font-weight: 400;
  text-decoration: underline;
}

.container {
  display: flex;
  padding: 90px 15px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact-map {
  position: absolute;
  right: 0px;
  width: 100%;
}
