<div class="container">
  <div class="contact-header">
    <h1 class="h1 font-weight-bold ">Get</h1>
    <h1 class="h1 font-weight-bold ">in</h1>
    <h1 class="h1 font-weight-bold ">touch</h1>

    <!--Contact-->
    <div
      class="col-md-9 contact"
      style="padding-top: 50px; padding-left: 0; padding-right: 0;"
    >
      <img
        src="./../../../assets/img/location-icon.png"
        alt="location-icon"
        height="50px"
      />
      <ul>
        <li>
          <a href="mailto:donate@roomly.org">donate@hroomly.org</a>
        </li>
        <li>49 Tehama StSan Francisco, CA 94105</li>
        <li>9am - 2pm (Mon-Fri)</li>
        <li>
          (925)-448-9838
        </li>
      </ul>

      <p></p>
      <p></p>
    </div>
  </div>

  <!--Map-->
  <div class="col-md-6">
    <div class="contact-map">
      <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.1025169095274!2d-122.39891708435995!3d37.78763717975715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085807cbc5f853f%3A0xdd2d1029dda409d9!2s44+Tehama+St%2C+San+Francisco%2C+CA+94105!5e0!3m2!1sen!2sus!4v1551035343789" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
