<div class="container">
  <div class="contact-header">
    <h1 class="h1 font-weight-bold ">Get</h1>
    <h1 class="h1 font-weight-bold ">in</h1>
    <h1 class="h1 font-weight-bold ">touch</h1>

    <!--Contact-->
    <div
      class="col-md-9 contact"
      style="padding-top: 50px; padding-left: 0; padding-right: 0;"
    >
      <img
        src="./../../../assets/img/location-icon.png"
        alt="location-icon"
        height="50px"
      />
      <ul>
        <li>
          <a href="mailto:donate@roomly.org">donate@hroomly.org</a>
        </li>
        <li>49 Tehama StSan Francisco, CA 94105</li>
        <li>9am - 2pm (Mon-Fri)</li>
        <li>
          (314)-448-9838
        </li>
      </ul>

      <p></p>
      <p></p>
    </div>
  </div>

  <!--Map-->
  <div class="col-md-6">
    <div class="contact-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.1643258163417!2d-90.33915708465771!3d38.62210057961393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8cae2a15c5e45%3A0x7702ccca96c8b8de!2s290+Hanley+Industrial+Ct%2C+Brentwood%2C+MO+63144!5e0!3m2!1sen!2sus!4v1550832489521"
        width="100%"
        height="600px"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
