<div class="container">
    <div class="row">
        <div class="col-12">
            <form #registerForm="ngForm" class="text-center border border-light p-5">

                <p class="lead mb-4">Register</p>
                <p>*You are one step away to become part of Hackathon community</p>

                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input [(ngModel)]="formData.firstName" type="text" id="defaultRegisterFormFirstName"
                            class="form-control" placeholder="First name" name="firstName" #firstName required>
                    </div>

                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>

                        <!-- Last name -->
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input [(ngModel)]="formData.lastName" type="text" id="defaultRegisterFormLastName"
                            class="form-control" placeholder="Last name" name="lastName" #lastName required>
                    </div>

                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last Name is required.</div>
                    </div>
                </div>

                <!-- E-mail -->
                <input [(ngModel)]="formData.email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4"
                    placeholder="E-mail" name="email" #email required>

                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Email is required.</div>
                </div>

                <!-- Password -->
                <input [(ngModel)]="formData.password" type="password" id="defaultRegisterFormPassword"
                    class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock"
                    name="password" #password required>
                <br>

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <br>

                </div>



                <input [(ngModel)]="formData.passwordConfirmation" type="password" id="defaultRegisterFormPassword"
                    class="form-control" placeholder="Password Confirmation" name="passwordConfirmation"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock" #passwordConfirmation required>
                <br>
                <!-- Phone number -->
                <input [(ngModel)]="formData.phone" type="text" id="defaultRegisterPhonePassword" class="form-control"
                    placeholder="Phone number" name="phone" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                    Optional - for two step authentication
                </small>

                <!-- Sign up button -->
                <button (click)='register(registerForm)' [disabled]="!registerForm.form.valid" class="btn btn-dark"
                    type="submit">Register</button>

                <!-- Social register -->
                <p>or sign up with:</p>
                <div class="socialIcons">
                    <!--Facebook Login-->
                    <a routerLink="">
                        <i class="devicon-facebook-plain colored"></i>
                    </a>
                    <!--Twitter Login-->
                    <a routerLink="">
                        <i class="devicon-twitter-plain colored"></i>
                    </a>
                    <!--Google Login-->
                    <a routerLink="" style="color: red">
                        <i class="devicon-google-plain"></i>
                    </a>
                </div>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>

            </form>
        </div>
    </div>
</div>