<div class="container">
    <div class="row">
        <div class="col-12">
            <form #registerForm="ngForm" class="text-center border border-light p-5">

                <p class="lead mb-4">Register</p>
                <p>*You are one step away to become part of Hackathon community</p>

                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <mat-form-field>
                            <input matInput [(ngModel)]="formData.firstName" type="text" id="defaultRegisterFormFirstName"
                                class="" placeholder="First name" name="firstName" #firstName required>
                        </mat-form-field>
                    </div>

                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>

                        <!-- Last name -->
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <mat-form-field>
                            <input matInput [(ngModel)]="formData.lastName" type="text" id="defaultRegisterFormLastName"
                                class="" placeholder="Last name" name="lastName" #lastName required>
                        </mat-form-field>
                    </div>

                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last Name is required.</div>
                    </div>
                </div>

                <!-- E-mail -->
                <mat-form-field class="email">
                    <input matInput [(ngModel)]="formData.email" type="email" id="defaultRegisterFormEmail" class=""
                        placeholder="E-mail" name="email" #email required>
                </mat-form-field>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Email is required.</div>
                </div>

                <!-- Password -->
                <mat-form-field>
                    <input [(ngModel)]="formData.password" id="defaultRegisterFormPassword" class="" placeholder="Password"
                        name="password" aria-describedby="defaultRegisterFormPasswordHelpBlock" #password matInput
                        [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <br>

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <br>

                </div>


                <mat-form-field>
                    <input [(ngModel)]="formData.passwordConfirmation" id="defaultRegisterFormPassword" class=""
                        placeholder="Password Confirmation" name="passwordConfirmation" aria-describedby="defaultRegisterFormPasswordHelpBlock"
                        #passwordConfirmation matInput [type]="hideConfirm ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                </mat-form-field>
                <br>
                <!-- Phone number -->
                <mat-form-field>
                    <input matInput [(ngModel)]="formData.phone" type="text" id="defaultRegisterPhonePassword" class=""
                        placeholder="Phone number" name="phone" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                </mat-form-field>
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                    Optional - for two step authentication
                </small>

                <!-- Sign up button -->
                <button (click)='register(registerForm)' [disabled]="!registerForm.form.valid" class="btn btn-dark"
                    type="submit">Register</button>

                <!-- Social register -->
                <p>or sign up with:</p>
                <div class="socialIcons">
                    <!--Facebook Login-->
                    <a routerLink="">
                        <i class="devicon-facebook-plain colored"></i>
                    </a>
                    <!--Twitter Login-->
                    <a routerLink="">
                        <i class="devicon-twitter-plain colored"></i>
                    </a>
                    <!--Google Login-->
                    <a routerLink="" style="color: red">
                        <i class="devicon-google-plain"></i>
                    </a>
                </div>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>

            </form>
        </div>
    </div>
</div>