<div class="container">
    <div class="about-header">
        <h1>About Us</h1>
    </div>
    <!--About Us Content-->
    <div class="row">
        <!--Main Content-->
        <div class="col-md-8">
            <div class="about_content">
                <h4>Why ROOMLY?</h4>
                <p>In order to effectively address homelessness in America and impact a long-term solution to this problem, people transitioning out of homelessness need help with stability. At RoomLy, we believe part of that stability comes from establishing a first home stocked with the necessities for everyday life. Part of maintaining a home is usability and affordability. We can help make taking the first step to stable home life comfortable and accessible.</p>
            </div>
        </div>
        <!--Side Content-->
        <div class="col-md-4 about_side_content">
            <div class="Boards of Directors">
                <h3>Members</h3>
                <ul class="member-list">
                    <li>Thu Nguyen – Front End/ UI Design</li>
                    <li>Khang Nguyen – Software Engineer</li>
                    <li>Tin La – Software Engineer</li>
                    <li>Mai Huynh - Front End/ Content Manager</li>
                    <li>Nathan Nguyen - Content Manager</li>
                    <li>Binh Nguyen - Content Manager</li>
                </ul>
            </div>
        </div>
    </div>
</div>
