<div class="container">
    <div class="about-header">
        <h1>About Us</h1>
    </div>
    <!--About Us Content-->
    <div class="row">
        <!--Main Content-->
        <div class="col-md-8">
            <div class="about_video">
                <iframe src="https://www.youtube.com/embed/1JnhbBA-d6s" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div class="about_content">
                <h4>Why Home Sweet Home?</h4>
                <p>In order to effectively address homelessness in America and impact a long-term solution to this problem, people transitioning out of homelessness need help with stability. At Home Sweet Home, we believe part of that stability comes from establishing a first home stocked with the necessities for everyday life. Part of maintaining a home is usability and affordability. We can help make taking the first step to stable home life comfortable and accessible.</p>
            </div>
            <div class="about_content_statistic">
                <div class="row">
                    <div class="col-md-6 left_side">
                        <h2>578424</h2>
                        <hr />
                        <p class="lead">Homeless in the United States</p>
                    </div>
                    <div class="col-md-6 right_side">
                        <ul>
                            <li>In January 2014, there were 578,424 people experiencing homelessness on any given night in the United States.</li>
                            <li>Of those 578,424 people, 216,197 are in families.</li>
                            <li>Roughly 9% of homeless people are veterans.</li>
                            <li>There are almost 11,000 people experiencing homelessness in the state of Missouri.</li>
                            <li>Over 30% of Missouri’s homeless are estimated to be families.</li>
                        </ul>
                        <p>(Statistics from <a href="https://endhomelessness.org/">The National Alliance to End Homelessness.)</a></p>
                    </div>
                </div>
            </div>
            <h3 style="margin: 15px 0; color: #0277bd">Furnishing hope in St. Louis</h3>
            <div class="about_content_intro">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Mission</h4>
                        <p>The mission of Home Sweet Home is to give families a sense of pride and to improve the quality of their lives by providing basic household furnishings.</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Services</h4>
                        <p>Our services will include pick up of donations by truck, working with case managers at partner agencies to get clients access to furniture, and delivery of new and gently-used furniture and household items to client apartments and homes.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Side Content-->
        <div class="col-md-4 about_side_content">
            <div class="Boards of Directors">
                <h3>Board of Directors</h3>
                <p>Our current <span style="font-weight: bold">Board Members</span> include the following volunteers:</p>
                <ul class="member-list">
                    <li>Christie Brinkman – Castle Contracting</li>
                    <li>Chad Conner – Wells Fargo Advisers</li>
                    <li>Sue Foster – Retired Freelance Writer</li>
                    <li>Michelle Hamilton – Spellman Brady & Company</li>
                    <li>Lauren HarDcastle – Slalom</li>
                    <li>Symone Johnson – Federal Reserve Bank</li>
                    <li>Sara Lamkey – Energizer Holdings</li>
                    <li>Ian Lingle – KI</li>
                    <li>Kendra Moore – U.S. Bank</li>
                    <li>Andrew Nold – Federal Reserve Bank</li>
                    <li>Mike Palermo – Palermo Reality</li>
                    <li>Allie Toepfer – FleishmanHillard</li>
                    <li>Stephanie Tussey – Community Volunteer</li>
                    <li>Cathy Vander Pluym – Retired Nurse</li>
                    <li>Candace Weatherfield -Hawkins Parnell & Young, LLP</li>
                </ul>
                <hr />
                <h3>Team Member</h3>
                See the <a href="https://homesweethomestl.org/meet-the-team/">full list of team members here</a>
            </div>
        </div>
    </div>
</div>
<div class="about_button">
    <a routerLink="donation">Donate Now! <i class="far fa-arrow-alt-circle-right"></i></a>
</div>

