<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Default form contact -->
            <form class="text-center border border-light p-5" [formGroup]="addBillForm" (ngSubmit)="onCreateBill()">

                <p class="lead mb-4">Your Goal</p>
                <small>Let's create your own campaign</small>
                <br>

                <!--Campaign Title-->
                <!-- <div class="col-md-12" style="width: 100%">
                    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4 text-center" placeholder="money"
                    style="width: 50%; margin: auto"
                    >
                </div> -->
                <!-- calendar -->
                <!-- <mat-form-field>
                    <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Please choose or enter a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->

                <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'"
                    [(ngModel)]="model" required></mdb-date-picker>

                <!-- time availability -->
                <mat-form-field>
                    <mat-select formControlName="time" placeholder="Time Availability">
                        <mat-option *ngFor="let t of timeFormOptions" [value]="t?.value">{{t.label}}</mat-option>

                    </mat-select>
                </mat-form-field>

                <!--Campaign Title-->
                <input formControlName="title" type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4"
                    placeholder="Title">
                <!--Who are you raising for?-->
                <!--Zip Code-->
                <input formControlName="address" type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4"
                    placeholder="Address">

                <!-- Message -->
                <div class="form-group">
                    <textarea formControlName="description" class="form-control rounded-0" id="exampleFormControlTextarea2"
                        rows="3" placeholder="Description"></textarea>
                </div>
                <hr>

                <!--Image-->
                <!-- <div class="form-group">
                    <app-image-upload (imageUploaded)="handleImageUpload($event)" (imageError)="handleImageError()">
                    </app-image-upload>
                </div> -->

                <input type="file" class="dropify" formControlName="Image" #AccUserImg>

                <!-- Send button -->
                <button type="submit" class="btn btn-dark" type="submit">Create
                    Fundraiser</button>
            </form>
        </div>
    </div>
</div>