<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" mbdSticky>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Home Sweet Home</h6>
        <p>
          Home Sweet Home is a 501(c)(3) organization connecting non-profit
          partners in the St. Louis region with donated furniture and household
          items. We help clients from partner organizations transition to their
          new living situations with much-needed furnishings and basics,
          providing a sense of ownership and a source of stability at this
          crucial time.
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Get Involved</h6>
        <p>
          <a href="#!">Log In</a>
        </p>
        <p>
          <a href="#!">Donate Now</a>
        </p>
        <p>
          <a href="#!">Create a fundraising</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Policy & Terms</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          290 Hanley Industrial Court Brentwood, MO 63144
        </p>

        <p>
          <b>Karen</b>
          <br />
          VISTA | Operations Coordinator donate@homesweethomestl.org
        </p>

        <p>314-448-9838</p>
        <!-- <p>
          <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
        </p> -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->

    <hr class="line-white" />

    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">
        <!--Copyright-->
        <p class="text-center text-md-left">
          © 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong>Hackathon</strong>
          </a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a
                href="https://www.facebook.com/HSHSTL/?fref=ts"
                mdbBtn
                floating="true"
                size="sm"
                class="rgba-white-slight mx-1"
                mdbWavesEffect
              >
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="http://www.twitter.com/HomeSweetHomeSL"
                mdbBtn
                floating="true"
                size="sm"
                class="rgba-white-slight mx-1"
                mdbWavesEffect
              >
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <!-- <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li> -->
            <li class="list-inline-item">
              <a
                href="https://www.linkedin.com/company/9452234"
                mdbBtn
                floating="true"
                size="sm"
                class="rgba-white-slight mx-1"
                mdbWavesEffect
              >
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
