.position {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(
    to bottom right,
    rgb(117, 175, 244),
    rgb(72, 149, 241)
  );
}

.navbar{
  color: gray !important
}
.navigation{
  float: right;
}
img{
  height: 55px;
  margin-left: -142px;
}

@media only screen and (min-width: 1439px){

.active{
  margin-left: 850px;
}
}