<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light ">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
          <img src="assets/img/logo.png" alt="logo" height="80" />
      </a>
  </mdb-navbar-brand>

    <links>
      <div class="navbar-nav">
          <a class="nav-item nav-link waves-light" routerLink="donation">Donate</a>  
          <a class="nav-link waves-light" routerLink="manage">Manage</a> 
          <a class="nav-link waves-light" routerLink="stories">Stories</a>
          <a class="nav-link waves-light" routerLink="about">About</a>
          <a class="nav-link waves-light" routerLink="stories">Contact</a>
      </div>
    </links>
    <links>
      <div class="navbar-nav ml-auto">
          <ng-container *ngIf="!isAuthenticated()">
              <a class="nav-link waves-light" routerLink="login">Login</a>
              <a class="nav-link waves-light" routerLink="register">Register</a>
          </ng-container> 
          <ng-container *ngIf="isAuthenticated()">
              <a class="nav-link waves-light" routerLink="profile">Profile</a>
              <a class="nav-link waves-light" (click)="logOut()">Logout</a>
          </ng-container>
      </div>
    </links>
</mdb-navbar>