<mat-card-title>
  <h1>Please Enter a Confirmation String here</h1>
</mat-card-title>

<form (submit)="onConfirmManager(confirmMan)" #confirmMan="ngForm">
  <mat-form-field>
    <input [type]="hide ? 'password' : 'text'" name="managerString" ngModel matInput placeholder="Enter Key here"
      #keyInput="ngModel" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="keyInput.invalid">Please enter a key</mat-error>
  </mat-form-field>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button mat-dialog-close class="btn btn-danger">Cancel</button>
</form>