<app-banner></app-banner>

<!--About Us-->
<div class="container ">
  <h2 class="h1 py-5 font-weight-bold text-center">Do you know?</h2>
  <div class="about-content-statistic">
    <div class="row">
      <div class="col-md-6 left-side">
        <h1 class="font-weight-bold text-primary">578424</h1>
        <hr />
        <p class="">Homeless in the United States</p>
      </div>
      <div class="col-md-6 right-side">
        <ul class="lead">
          <li>
            In January 2014, there were 578,424 people experiencing homelessness
            on any given night in the United States.
          </li>
          <li>Of those 578,424 people, 216,197 are in families.</li>
          <li>Roughly 9% of homeless people are veterans.</li>
          <li>
            There are almost 11,000 people experiencing homelessness in the
            state of Missouri.
          </li>
          <li>Over 30% of Missouri’s homeless are estimated to be families.</li>
        </ul>
        <p>
          (Statistics from
          <a href="https://endhomelessness.org/"
            >The National Alliance to End Homelessness.)</a
          >
        </p>
      </div>
    </div>
  </div>
</div>


<hr class="line-dash" />
<div class="bg-beige">
  <div class="container">
    <div class="about_content_intro">
      <div class="row">
        <div class="col-md-6 right-side">
          <h2 class="h1 py-5 font-weight-bold ">Mission</h2>
          <p>
            The mission of Home Sweet Home is to give families a sense of pride
            and to improve the quality of their lives by providing basic
            household furnishings.
          </p>
        </div>
        <div class="col-md-6 left-side">
          <h2 class="h1 py-5 font-weight-bold ">Services</h2>
          <p>
            Our services will include pick up of donations by truck, working
            with case managers at partner agencies to get clients access to
            furniture, and delivery of new and gently-used furniture and
            household items to client apartments and homes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="line-dash" />

<!--End About Us-->

<!--Video intro-->
<div class="landing-video">
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-6 text-center" style="margin-top: 20px">
              <div class="quote">
                  <h4><span>"</span>The world is a dangerous place, not becausethos who do evil</h4>
                  <h4>but because of those who look on and do nothing.</h4>
                  <h5>-Albert Einstein<span>"</span></h5>
              </div>
              <a href="/posts" class="btn btn-dark">Take Action Now</a>
          </div>
          <div class="col-md-5" style="margin-top: 20px">
                <iframe src="https://www.youtube.com/embed/jWOYSQ_6Juk" frameborder="0" allowfullscreen>
                </iframe>
          </div>
      </div>
    </div>
</div>



<hr class="line-dash" />

<!--Why Us-->
<div class="bg-beige">
  <div class="container">
    <section class="text-center">
      <!--Reason Header-->
      <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>

      <!--Reasons-->
      <div class="row">
        <!--Reason 1-->
        <div class="col-md-4">
          <img src="./../../../assets/img/hand_icon.png" alt="hand icon" />
          <h5 class="font-weight-bold mt-3">Embrace Community</h5>
          <p class="grey-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
          </p>
        </div>
        <!--Reason 2-->
        <div class="col-md-4">
          <img src="./../../../assets/img/tree_icon.png" alt="hand icon" />
          <h5 class="font-weight-bold mt-3">Connect Generations</h5>
          <p class="grey-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
          </p>
        </div>
        <!--Reason 3-->
        <div class="col-md-4">
          <img src="./../../../assets/img/globe_icon.png" alt="hand icon" />
          <h5 class="font-weight-bold mt-3">Share Love</h5>
          <p class="grey-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<hr class="line-dash" />
