<app-banner></app-banner>
<main>
  <!--Fundraisings-->
  <app-carousel></app-carousel>
  <hr />
  <!--Why Us-->
  <div class="container">
    <section class="text-center">
      <!--Reason Header-->
      <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>

      <!--Reasons-->
      <div class="row">
        <!--Reason 1-->
        <div class="col-md-4">
          <img src="./../../../assets/img/hand_icon.png" alt="hand icon" />
          <h5 class="font-weight-bold mt-3">Embrace Community</h5>
          <p class="grey-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
          </p>
        </div>
        <!--Reason 2-->
        <div class="col-md-4">
          <img src="./../../../assets/img/tree_icon.png" alt="hand icon" />
          <h5 class="font-weight-bold mt-3">Connect Generations</h5>
          <p class="grey-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
          </p>
        </div>
        <!--Reason 3-->
        <div class="col-md-4">
          <img src="./../../../assets/img/globe_icon.png" alt="hand icon" />
          <h5 class="font-weight-bold mt-3">Share Love</h5>
          <p class="grey-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
          </p>
        </div>
      </div>
    </section>
  </div>
</main>

<app-footer></app-footer>