<div class="container">
    <div class="card w-100">
        <div class="card-body">
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="assets/img/picture1.png" alt="donation picture" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <h5 class="card-title">Need donation for make up</h5>
            <p class="card-text">I need money to buy make up because <a href="http://localhost:4200/story">Read More</a></p>
        </div>
    </div>
</div>