.container {
    margin-top: 80px;
}

img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.profileSection {
    margin-top: 20px;
    margin-left: 10px;
}

.profile-board{
    margin-bottom: 10px
}