<div class="container text-center">
    <div id="profileHeader">
        <img class="rounded-circle" src="assets/img/picture1.png" alt="Profile Picture" />
        <h1>My Account</h1>
        <p>
            <i class="fas fa-map-marker-alt"></i>
            San Jose, CA
        </p>
    </div>
    <div class="row text-left profile-board" style="border: 2px solid black">
        <div class="col-12">
            <!--Account Balance-->
            <div class="profileSection">
                <p>Account Balance</p>
                <h3>$1500</h3>
            </div>
            <hr />
            <!--Campaign supported-->
            <div class="profileSection">
                <p>Campaign supported</p>
                <h3>14</h3>
            </div>
            <hr />
            <!--Favourite Charities-->
            <div class="profileSection">
                <p>Favourite Charities</p>
                <h3>3</h3>
            </div>
            <hr />
            <!--Payment Method-->
            <div class="profileSection">
                <p>Payment Methods</p>
                <h3>**** **** **** **34</h3>
            </div>
            <hr />
            <!--Favourite Charities-->
            <div class="profileSection">
                <p>My Fundraisings</p>
                <h3>6</h3>
            </div>
            <hr />
            <!--Favourite Charities-->
            <div class="profileSection">
                <p>Recurring Donations</p>
                <p><span style="font-size: 30px; font-weight: bold">$30</span> / mo</p>
            </div>
            <hr />
        </div>
    </div>
</div>