<div class="container">
    <div class="row">
        <!--Posts header-->
        <div class="col-md-12" id="posts-header">
            <div class="row">
                <!--Post a place-->
                <div class="col-md-5 posts-header-items text-center">
                    <p class="lead">Have an extra place for stay?</p>
                    <a (click)="openPost()" class="btn btn-info">Post Now</a>
                </div>
                <div class="col-md-2 text-center" style="margin-top: 20px">
                    <h2>OR</h2>
                </div>
                <!--Post a place-->
                <div class="col-md-5 posts-header-items text-center">
                    <p class="lead">Have extra pennys?</p>
                    <a (click)="openDonate()" class="btn btn-info">
                        Donate Now
                    </a>
                </div>
            </div>
        </div>
        <!--Posts body-->
        <div class="col-md-12 text-center" style="margin-top: 40px;">
            <p>Check out our member's contributions</p>
            <a routerLink="/manage" class="btn btn-outline-warning
            ">Press Here</a>
        </div>
    </div>
</div>