/* You can add global styles to this file, and also import other style files */

html,
body {
  position: relative;
  height: 100%;
}
body {  
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// for Toaster
#toast-container > div{
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51a351 !important;
}
.toast-error {
  background-color: #bd362f !important;
}
.toast-info {
  background-color: #2f96b4 !important;
}
.toast-warning {
  background-color: #f89406 !important;
}
